Repository vue-macros/vue-macros, pull requests merged in 2024-09, with the labels that each got.

#786 feat(jsx-directive): set `enforce` to pre
  .changeset/grumpy-toes-tell.md
  packages/jsx-directive/src/index.ts
  playground/nuxt/examples/jsx-directive/v-for.vue
Labels: enhancement, size:S, lgtm

#785 feat(volar/jsx-directive): add event-prop for v-model
  .changeset/curly-flies-repair.md
  packages/volar/src/jsx-directive/v-for.ts
  packages/volar/src/jsx-directive/v-if.ts
  packages/volar/src/jsx-directive/v-model.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: enhancement, volar, size:M, lgtm

#791 chore: upgrade vue to 3.5.2
  packages/macros/tests/__snapshots__/fixtures.test.ts.snap
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: size:S, lgtm

#795 feat(volar): support Volar 2.1
  .changeset/five-kangaroos-sparkle.md
  packages/volar/src/common.ts
  packages/volar/src/jsx-directive.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: volar, size:M, lgtm

#798 fix(volar): remove duplicate __VLS_PropOptions type
  .changeset/tough-moose-kick.md
  packages/define-prop/tests/__snapshots__/fixtures.test.ts.snap
  packages/define-prop/tests/fixtures/johnson-edition/basic.vue
  packages/volar/src/define-prop.ts
Labels: volar, size:S, lgtm

#790 feat(volar): introduce jsx-ref
  .changeset/curvy-kiwis-wait.md
  packages/config/src/options.ts
  packages/macros/package.json
  packages/macros/src/runtime.ts
  packages/volar/package.json
  packages/volar/src/index.ts
  packages/volar/src/jsx-directive/context.ts
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-ref.ts
  playground/vue3/src/examples/jsx-ref/comp.vue
  playground/vue3/src/examples/jsx-ref/index.vue
  playground/vue3/vue-macros.config.ts
Labels: enhancement, volar, size:L, lgtm

#801 fix(volar/jsx-directive): incorrect transformation of intrinsic attributes
  .changeset/two-poems-jump.md
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-directive/v-bind.ts
Labels: volar, size:M

#803 fix(volar): use configFilePath instead of pathsBasePath
  .changeset/silent-spies-bathe.md
  packages/volar/src/common.ts
Labels: volar, size:XS, lgtm

#716 refactor: emit dts with isolated declarations
  package.json
  packages/short-bind/src/index.ts
  packages/short-vmodel/src/index.ts
  pnpm-lock.yaml
  tsup.config.ts
Labels: size:M

#816 feat(docs): enhance `code block` readability
  docs/features/boolean-prop.md
  docs/features/export-expose.md
  docs/features/export-props.md
  docs/features/export-render.md
  docs/features/jsx-directive.md
  docs/features/reactivity-transform.md
  docs/features/script-lang.md
  docs/features/short-bind.md
  docs/guide/astro-integration.md
  docs/guide/bundler-integration.md
  docs/guide/configurations.md
  docs/guide/eslint-integration.md
  docs/guide/nuxt-integration.md
  docs/macros/define-emit.md
  docs/macros/define-models.md
  docs/macros/define-options.md
  docs/macros/define-prop.md
  docs/macros/define-props-refs.md
  docs/macros/define-props.md
  docs/macros/define-slots.md
  docs/macros/setup-sfc.md
  docs/macros/short-vmodel.md
  docs/package.json
  docs/vite.config.ts
  docs/volar/define-generic.md
  docs/volar/script-sfc.md
  docs/volar/setup-jsdoc.md
  docs/zh-CN/features/boolean-prop.md
  docs/zh-CN/features/export-expose.md
  docs/zh-CN/features/export-props.md
  docs/zh-CN/features/export-render.md
  docs/zh-CN/features/jsx-directive.md
  docs/zh-CN/features/reactivity-transform.md
  docs/zh-CN/features/script-lang.md
  docs/zh-CN/features/short-bind.md
  docs/zh-CN/guide/astro-integration.md
  docs/zh-CN/guide/bundler-integration.md
  docs/zh-CN/guide/configurations.md
  docs/zh-CN/guide/eslint-integration.md
  docs/zh-CN/guide/nuxt-integration.md
  docs/zh-CN/macros/define-emit.md
  docs/zh-CN/macros/define-models.md
  docs/zh-CN/macros/define-options.md
  docs/zh-CN/macros/define-prop.md
  docs/zh-CN/macros/define-props-refs.md
  docs/zh-CN/macros/define-props.md
  docs/zh-CN/macros/define-slots.md
  docs/zh-CN/macros/setup-sfc.md
  docs/zh-CN/macros/short-vmodel.md
  docs/zh-CN/volar/define-generic.md
  docs/zh-CN/volar/script-sfc.md
  docs/zh-CN/volar/setup-jsdoc.md
  pnpm-lock.yaml
Labels: documentation, enhancement, size:L, lgtm

#825 fix(volar/jsx-directive): use object instead of any
  .changeset/new-dodos-kiss.md
  packages/volar/src/jsx-directive/ref.ts
  playground/vue3/src/examples/jsx-ref/index.vue
Labels: volar, size:S

#827 feat(volar/jsx-ref): support reactivity transform
  .changeset/polite-tables-look.md
  packages/volar/src/jsx-directive/context.ts
  playground/vue3/src/examples/jsx-ref/index.vue
Labels: enhancement, volar, size:S

#828 feat(volar/jsx-directive): support functional component
  .changeset/sharp-hats-confess.md
  packages/volar/src/jsx-directive/context.ts
  packages/volar/src/jsx-directive/index.ts
Labels: enhancement, volar, size:M

#830 docs: add jsx-ref
  docs/.vitepress/config/theme.ts
  docs/volar/jsx-ref.md
  docs/vue-macros.config.ts
  docs/zh-CN/volar/define-generic.md
  docs/zh-CN/volar/jsx-ref.md
Labels: documentation, size:L, lgtm

#831 fix(volar/jsx-directive): v-model and v-slot co-usage
  .changeset/light-pumpkins-remember.md
  packages/volar/src/jsx-directive/v-model.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: volar, size:S
