Repository vue-macros/vue-macros, pull requests merged in 2024-11, with the labels that each got.

#854 fix(macros): nuxt define-prop type error
  packages/macros/macros-global.d.ts
Labels: size:XS, lgtm

#855 feat(volar/jsx-directive): support elementAccessExpression for ref
  .changeset/brave-rules-beam.md
  packages/volar/src/jsx-directive/context.ts
Labels: volar, size:S

#851 feat(volar): compatible with ts-macro
  .changeset/mighty-bags-divide.md
  packages/volar/package.json
  packages/volar/src/common.ts
  packages/volar/src/index.ts
  packages/volar/src/jsx-directive.ts
  packages/volar/src/jsx-directive/context.ts
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-directive/v-for.ts
  packages/volar/src/jsx-directive/v-model.ts
  packages/volar/src/jsx-directive/v-on.ts
  packages/volar/src/jsx-directive/v-slot.ts
  packages/volar/src/jsx-ref.ts
  pnpm-lock.yaml
Labels: enhancement, volar, size:L

#860 fix(volar): support options for ts-macro plugins
  packages/volar/src/index.ts
  packages/volar/src/jsx-directive.ts
  packages/volar/src/jsx-ref.ts
Labels: volar, size:M
