Repository vue-macros/vue-macros, pull requests merged in 2024-07, with the labels that each got.

#720 feat(volar/jsx-directive): support type hint for v-slots
  .changeset/tiny-pans-invent.md
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: enhancement, size:M

#722 feat(volar/jsx-directive): support slots type hint for object expression
  .changeset/brave-dragons-whisper.md
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: enhancement, volar, size:M

#719 feat(define-render): disabled auto-wrapping function when in vapor mode
  .changeset/chilled-cameras-provide.md
  packages/define-render/src/core/index.ts
  packages/define-render/src/index.ts
Labels: enhancement, size:S, lgtm

#736 fix(volar/jsx-directive): sourceMap offset overflow
  .changeset/shy-poems-greet.md
  packages/volar/package.json
  packages/volar/src/jsx-directive/v-bind.ts
  packages/volar/src/jsx-directive/v-model.ts
  pnpm-lock.yaml
Labels: volar, size:M, lgtm

#738 feat(volar): introduce template-ref
  .changeset/flat-vans-push.md
  packages/volar/index.d.ts
  packages/volar/src/define-emit.ts
  packages/volar/src/template-ref.ts
  playground/vue3/src/examples/template-ref/child.vue
  playground/vue3/src/examples/template-ref/index.vue
  playground/vue3/tsconfig.json
Labels: enhancement, volar, size:L, lgtm

#741 feat(volar/template-ref): support GlobalComponents
  .changeset/spotty-turkeys-sniff.md
  docs/.vitepress/config.ts
  docs/.vitepress/locale.ts
  docs/package.json
  docs/volar/template-ref.md
  docs/zh-CN/volar/template-ref.md
  packages/volar/src/template-ref.ts
  playground/vue3/src/examples/template-ref/comp.vue
  playground/vue3/src/examples/template-ref/component.d.ts
  playground/vue3/src/examples/template-ref/index.vue
  pnpm-lock.yaml
Labels: documentation, volar, size:L, lgtm

#731 feat: introduce script-lang
  .changeset/orange-readers-fetch.md
  docs/.vitepress/locale.ts
  docs/features/script-lang.md
  docs/zh-CN/features/script-lang.md
  packages/macros/package.json
  packages/macros/src/index.ts
  packages/script-lang/README.md
  packages/script-lang/package.json
  packages/script-lang/src/api.ts
  packages/script-lang/src/core/index.ts
  packages/script-lang/src/esbuild.ts
  packages/script-lang/src/index.ts
  packages/script-lang/src/rollup.ts
  packages/script-lang/src/vite.ts
  packages/script-lang/src/webpack.ts
  packages/script-lang/tests/__snapshots__/fixtures.test.ts.snap
  packages/script-lang/tests/fixtures.test.ts
  packages/script-lang/tests/fixtures/basic.vue
  packages/script-lang/tsup.config.ts
  packages/volar/index.d.ts
  packages/volar/src/script-lang.ts
  playground/vue2/src/App.vue
  playground/vue2/src/examples/script-lang/comp.vue
  playground/vue2/src/examples/script-lang/index.vue
  playground/vue2/tsconfig.json
  playground/vue2/vue-macros.config.js
  playground/vue3/src/App.vue
  playground/vue3/src/examples/script-lang/comp.vue
  playground/vue3/src/examples/script-lang/index.vue
  playground/vue3/tsconfig.json
  playground/vue3/vue-macros.config.js
  pnpm-lock.yaml
  tsconfig.fixture.json
Labels: documentation, enhancement, volar, size:L, lgtm

#734 feat(volar): introduce setup-sfc
  .changeset/twenty-houses-rest.md
  docs/macros/setup-sfc.md
  docs/zh-CN/macros/setup-sfc.md
  packages/volar/src/setup-sfc.ts
  playground/vue3/src/examples/setup-sfc/comp.setup.tsx
  playground/vue3/src/examples/setup-sfc/index.setup.tsx
  playground/vue3/tsconfig.json
Labels: enhancement, volar, size:L, lgtm

#733 feat(volar): introduce DefineGeneric
  .changeset/tough-horses-jam.md
  docs/.vitepress/locale.ts
  docs/volar/define-generic.md
  docs/volar/template-ref.md
  docs/zh-CN/volar/define-generic.md
  docs/zh-CN/volar/template-ref.md
  packages/macros/macros-global.d.ts
  packages/macros/macros.d.ts
  packages/volar/macros-global.d.ts
  packages/volar/macros.d.ts
  packages/volar/package.json
  packages/volar/src/define-generic.ts
  playground/vue3/src/examples/define-generic/child.vue
  playground/vue3/src/examples/define-generic/parent.vue
Labels: enhancement, volar, size:L, lgtm

#743 docs: add setupJSDoc
  docs/.vitepress/locale.ts
  docs/volar/setup-jsdoc.md
  docs/zh-CN/volar/setup-jsdoc.md
Labels: documentation, size:L, lgtm

#747 feat(macros): load config file
  packages/macros/package.json
  packages/macros/src/config-worker.ts
  packages/macros/src/config.ts
  packages/macros/src/index.ts
  packages/macros/tsup.config.ts
  playground/vue3/package.json
  playground/vue3/rollup.config.js
  playground/vue3/vite.config.ts
  playground/vue3/vue-macros.config.ts
  pnpm-lock.yaml
Labels: enhancement, size:L

#748 fix(volar/setup-sfc): auto imports not working
  .changeset/gorgeous-balloons-kiss.md
  packages/volar/src/setup-sfc.ts
Labels: volar, size:XS, lgtm

#749 feat(jsx-directive): decouple from parseSFC
  .changeset/happy-cars-return.md
  packages/jsx-directive/src/core/index.ts
  packages/jsx-directive/src/index.ts
  packages/jsx-directive/tests/__snapshots__/v-for.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-html.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-if.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-memo.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-model.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-on.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-slot.test.ts.snap
  packages/jsx-directive/tests/fixtures/v-for/index.setup.tsx
  packages/jsx-directive/tests/fixtures/v-for/v-for.tsx
  packages/jsx-directive/tests/fixtures/v-html/index.setup.tsx
  packages/jsx-directive/tests/fixtures/v-html/v-html.tsx
  packages/jsx-directive/tests/fixtures/v-html/v-html.vue
  packages/jsx-directive/tests/fixtures/v-if/v-else-if.setup.tsx
  packages/jsx-directive/tests/fixtures/v-if/v-else-if.tsx
  packages/jsx-directive/tests/fixtures/v-if/v-else-if.vue
  packages/jsx-directive/tests/fixtures/v-if/v-else.setup.tsx
  packages/jsx-directive/tests/fixtures/v-if/v-if-nested.setup.tsx
  packages/jsx-directive/tests/fixtures/v-if/v-if-nested.vue
  packages/jsx-directive/tests/fixtures/v-if/v-if.setup.tsx
  packages/jsx-directive/tests/fixtures/v-if/v-if.tsx
  packages/jsx-directive/tests/fixtures/v-if/v-if.vue
  packages/jsx-directive/tests/fixtures/v-memo/v-memo.setup.tsx
  packages/jsx-directive/tests/fixtures/v-memo/v-memo.vue
  packages/jsx-directive/tests/fixtures/v-memo/v-once.setup.tsx
  packages/jsx-directive/tests/fixtures/v-memo/v-once.vue
  packages/jsx-directive/tests/fixtures/v-model/index.setup.tsx
  packages/jsx-directive/tests/fixtures/v-on/child.setup.tsx
  packages/jsx-directive/tests/fixtures/v-on/index.setup.tsx
  packages/jsx-directive/tests/fixtures/v-slot/child.setup.tsx
  packages/jsx-directive/tests/fixtures/v-slot/index.setup.tsx
  packages/jsx-directive/tests/v-slot.test.ts
  packages/macros/src/index.ts
  tsconfig.fixture.json
Labels: enhancement, size:L, lgtm

#753 feat(short-bind): only transform shortVmodel's prefix after Vue 3.4
  .changeset/funny-fishes-switch.md
  packages/config/src/options.ts
  packages/short-bind/src/core/transformer.ts
  packages/volar/src/short-bind.ts
Labels: enhancement, size:S, lgtm

#755 feat: setup-sfc and unplugin-vue-router co-usage
  .changeset/many-coins-refuse.md
  docs/guide/bundler-integration.md
  docs/zh-CN/guide/bundler-integration.md
  packages/common/src/constants.ts
  packages/config/src/options.ts
  packages/macros/src/index.ts
Labels: documentation, enhancement, size:M, lgtm
