Repository vue-macros/vue-macros, pull requests merged in 2025-08, with the labels that each got.

#982 feat(volar/jsx-directive): support infer type from setup
  packages/volar/src/jsx-directive/context.ts
Labels: volar, size:S

#987 fix(define-stylex): fix unwanted code hoist
  packages/define-stylex/src/core/index.ts
  packages/define-stylex/tests/__snapshots__/fixtures.test.ts.snap
  packages/define-stylex/tests/fixtures/multiple-statements.vue
  packages/define-stylex/tests/fixtures/other-statements.vue
Labels: size:M, lgtm

#991 chore: upgrade @vue/language-tools to 3.0.6
  packages/volar/src/export-expose.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: volar, size:XS, lgtm
