Repository vue-macros/vue-macros, pull requests merged in 2025-01, with the labels that each got.

#885 fix(volar/define-prop): get identifier name correctly
  packages/volar/src/define-prop.ts
Labels: volar, size:XS, lgtm

#887 feat(volar): get identifier name correctly
  .changeset/tender-ligers-wave.md
  packages/volar/src/define-emit.ts
  packages/volar/src/define-prop.ts
  packages/volar/src/jsx-ref.ts
Labels: volar, size:S

#872 feat(jsx-directive): support vue-sfc
  .changeset/mighty-impalas-punch.md
  packages/jsx-directive/src/core/index.ts
  packages/jsx-directive/src/index.ts
  packages/jsx-directive/tests/__snapshots__/v-for.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-html.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-if.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-memo.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-model.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-on.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-slot.test.ts.snap
  packages/jsx-directive/tests/fixtures/v-for/index.vue
  packages/jsx-directive/tests/fixtures/v-html/index.setup.tsx
  packages/jsx-directive/tests/fixtures/v-html/index.vue
  packages/jsx-directive/tests/fixtures/v-if/v-else-if.vue
  packages/jsx-directive/tests/fixtures/v-if/v-else.vue
  packages/jsx-directive/tests/fixtures/v-if/v-if-nested.vue
  packages/jsx-directive/tests/fixtures/v-if/v-if.vue
  packages/jsx-directive/tests/fixtures/v-memo/v-memo.vue
  packages/jsx-directive/tests/fixtures/v-memo/v-once.vue
  packages/jsx-directive/tests/fixtures/v-model/index.vue
  packages/jsx-directive/tests/fixtures/v-on/child.vue
  packages/jsx-directive/tests/fixtures/v-on/index.vue
  packages/jsx-directive/tests/fixtures/v-slot/child.vue
  packages/jsx-directive/tests/fixtures/v-slot/index.vue
  packages/macros/src/index.ts
  playground/vue3/src/examples/jsx-directive/v-model/index.vue
  playground/vue3/src/examples/jsx-directive/v-slot/index.vue
Labels: enhancement, size:L, lgtm

#899 refactor(volar): use ts-macro instead of @vue/language-core for jsx-plugins
  .changeset/tricky-readers-judge.md
  packages/volar/src/jsx-directive/custom-directive.ts
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-directive/ref.ts
  packages/volar/src/jsx-directive/v-for.ts
  packages/volar/src/jsx-directive/v-if.ts
  packages/volar/src/jsx-directive/v-model.ts
  packages/volar/src/jsx-directive/v-on.ts
  packages/volar/src/jsx-directive/v-slot.ts
  packages/volar/src/jsx-ref.ts
Labels: volar, size:S

#902 feat(jsx-directive): add lib option to support vue/vapor
  .changeset/pretty-paws-yell.md
  docs/features/jsx-directive.md
  docs/zh-CN/features/jsx-directive.md
  packages/jsx-directive/src/core/index.ts
  packages/jsx-directive/src/core/v-for.ts
  packages/jsx-directive/src/core/v-slot.ts
  packages/jsx-directive/src/index.ts
  packages/jsx-directive/tests/__snapshots__/v-for.test.ts.snap
  packages/jsx-directive/tests/v-for.test.ts
  packages/jsx-directive/tests/v-html.test.ts
  packages/jsx-directive/tests/v-if.test.ts
  packages/jsx-directive/tests/v-memo.test.ts
  packages/jsx-directive/tests/v-model.test.ts
  packages/jsx-directive/tests/v-on.test.ts
  packages/jsx-directive/tests/v-slot.test.ts
Labels: documentation, enhancement, size:L, lgtm

#904 feat(jsx-directive): support restructure v-for and v-slot for vue/vapor
  .changeset/seven-beans-exercise.md
  packages/jsx-directive/package.json
  packages/jsx-directive/src/core/index.ts
  packages/jsx-directive/src/core/restructure/helper.ts
  packages/jsx-directive/src/core/restructure/index.ts
  packages/jsx-directive/src/core/v-for.ts
  packages/jsx-directive/src/core/v-slot.ts
  packages/jsx-directive/src/helpers.ts
  packages/jsx-directive/tests/__snapshots__/restructure.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-for.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-slot.test.ts.snap
  packages/jsx-directive/tests/fixtures/v-for/index.vue
  packages/jsx-directive/tests/restructure.test.ts
  packages/jsx-directive/tests/v-slot.test.ts
  pnpm-lock.yaml
Labels: enhancement, size:L
