Repository vue-macros/vue-macros, pull requests merged in 2025-09, with the labels that each got.

#993 feat(volar/jsx-directive): support VaporInstance
  packages/volar/src/jsx-directive/context.ts
Labels: volar, size:M

#994 fix(volar/jsx-directive): use ShallowUnwrapRef for Exposed
  packages/volar/src/jsx-directive/context.ts
Labels: volar, size:XS

#990 fix(define-stylex): use `attrs()` instead of `props()`
  docs/macros/define-stylex.md
  docs/zh-CN/macros/define-stylex.md
  packages/define-stylex/macros.d.ts
  packages/define-stylex/src/core/helper/index.ts
  packages/define-stylex/src/core/helper/stylex-attrs.ts
  packages/define-stylex/src/core/index.ts
  packages/define-stylex/src/index.ts
  packages/define-stylex/tests/__snapshots__/fixtures.test.ts.snap
  playground/vue3/package.json
  playground/vue3/src/App.vue
  playground/vue3/src/main.ts
  playground/vue3/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, size:L, lgtm

#960 chore(deps): upgrade vue
  packages/script-lang/tests/__snapshots__/fixtures.test.ts.snap
  packages/short-bind/tests/__snapshots__/compiler.test.ts.snap
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: size:XS, lgtm
