Repository vue-macros/vue-macros, pull requests merged in 2025-03, with the labels that each got.

#924 feat: upgrade volar support to `v2.2.4`
  docs/macros/define-prop.md
  docs/zh-CN/macros/define-prop.md
  package.json
  packages/volar/src/common.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, volar, size:L, lgtm

#926 feat(jsx-directive): remove unref for dynamic argument
  packages/jsx-directive/src/core/index.ts
  packages/jsx-directive/src/core/v-model.ts
  packages/jsx-directive/src/core/v-slot.ts
  packages/jsx-directive/src/helpers.ts
  packages/jsx-directive/tests/__snapshots__/v-model.test.ts.snap
  packages/jsx-directive/tests/fixtures/v-model/index.vue
  packages/volar/src/jsx-directive/v-model.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: enhancement, volar, size:S

#927 revert(jsx-directive): remove vapor support
  docs/features/jsx-directive.md
  docs/zh-CN/features/jsx-directive.md
  packages/jsx-directive/package.json
  packages/jsx-directive/src/core/index.ts
  packages/jsx-directive/src/core/plugin.ts
  packages/jsx-directive/src/core/restructure/index.ts
  packages/jsx-directive/src/core/v-for.ts
  packages/jsx-directive/src/core/v-slot.ts
  packages/jsx-directive/tests/__snapshots__/restructure.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-for.test.ts.snap
  packages/jsx-directive/tests/__snapshots__/v-slot.test.ts.snap
  packages/jsx-directive/tests/restructure.test.ts
  packages/jsx-directive/tests/v-for.test.ts
  packages/jsx-directive/tests/v-slot.test.ts
  pnpm-lock.yaml
Labels: documentation, size:L, lgtm

#929 feat(common): support `local` option for `importHelperFn`
  packages/common/src/ast.ts
  packages/define-models/src/core/index.ts
  packages/define-prop/src/core/index.ts
  packages/jsx-directive/src/core/v-for.ts
  packages/jsx-directive/src/core/v-memo.ts
  packages/jsx-directive/src/core/v-on.ts
  packages/jsx-directive/src/core/v-slot.ts
Labels: enhancement, size:S, lgtm

#930 feat(jsx-directive)!: use v-slots instead of vSlots
  packages/jsx-directive/src/core/v-slot.ts
  packages/jsx-directive/tests/__snapshots__/v-slot.test.ts.snap
  packages/volar/src/jsx-directive/context.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: enhancement, volar, size:S

#932 fix(volar/jsx-directive): prevent missing types when v-slots are used with v-for
  packages/volar/src/jsx-directive/index.ts
  packages/volar/src/jsx-directive/v-for.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: volar, size:S

#933 fix(volar/jsx-directive): prevent add events for native input tag
  packages/volar/src/jsx-directive/v-model.ts
Labels: volar, size:S

#935 fix(volar): remove unused patch code
  packages/volar/src/jsx-directive/v-model.ts
  packages/volar/src/jsx-directive/v-slot.ts
Labels: volar, size:S

#936 fix(volar/jsx-directive): use modelValueModifiers instead of modelModifiers
  packages/volar/src/jsx-directive/v-model.ts
Labels: volar, size:XS

#940 fix: fix `llms.txt` generation
  docs/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, size:XS, lgtm
